/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.7.3_webpack@5.76.1/node_modules/css-loader/dist/cjs.js!./node_modules/.pnpm/postcss-loader@6.2.1_mquw4qchulb5tpkmg3p2j6qala/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./theme/styles/index.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/

  :root {
    --header-height: 70px;
    --drawer-footer-height: 90px;
    --announcement-height: calc(30px * var(--announcement));
    --mobile-search-height: 55px;
    --site-max-width: 1440px;
  }

    @media (min-width: 768px) {
  :root {
      --header-height: 100px;
      --mobile-search-height: 0px
  }
    }

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 rgba(0,0,0,0);
  --tw-ring-shadow: 0 0 rgba(0,0,0,0);
  --tw-shadow: 0 0 rgba(0,0,0,0);
  --tw-shadow-colored: 0 0 rgba(0,0,0,0);
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::-webkit-backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 rgba(0,0,0,0);
  --tw-ring-shadow: 0 0 rgba(0,0,0,0);
  --tw-shadow: 0 0 rgba(0,0,0,0);
  --tw-shadow-colored: 0 0 rgba(0,0,0,0);
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 rgba(0,0,0,0);
  --tw-ring-shadow: 0 0 rgba(0,0,0,0);
  --tw-shadow: 0 0 rgba(0,0,0,0);
  --tw-shadow-colored: 0 0 rgba(0,0,0,0);
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.aspect-h-4{
  --tw-aspect-h: 4;
}
.aspect-w-6{
  position: relative;
  padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  --tw-aspect-w: 6;
}
.aspect-w-6 > *{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.pointer-events-none{
  pointer-events: none;
}
.static{
  position: static;
}
.fixed{
  position: fixed;
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.sticky{
  position: -webkit-sticky;
  position: sticky;
}
.inset-0{
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.-left-10{
  left: -2.5rem;
}
.-right-10{
  right: -2.5rem;
}
.left-0{
  left: 0px;
}
.right-0{
  right: 0px;
}
.top-0{
  top: 0px;
}
.top-full{
  top: 100%;
}
.-z-2{
  z-index: -2;
}
.z-1{
  z-index: 1;
}
.z-11{
  z-index: 11;
}
.col-start-1{
  grid-column-start: 1;
}
.col-start-2{
  grid-column-start: 2;
}
.row-start-1{
  grid-row-start: 1;
}
.row-end-3{
  grid-row-end: 3;
}
.m-0{
  margin: 0px;
}
.mx-2{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.my-1{
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.my-1\.5{
  margin-top: 0.375rem;
  margin-bottom: 0.375rem;
}
.\!mt-12{
  margin-top: 3rem !important;
}
.\!mt-4{
  margin-top: 1rem !important;
}
.-ml-4{
  margin-left: -1rem;
}
.-mr-4{
  margin-right: -1rem;
}
.-mt-px{
  margin-top: -1px;
}
.ml-auto{
  margin-left: auto;
}
.mr-2{
  margin-right: 0.5rem;
}
.mt-12{
  margin-top: 3rem;
}
.mt-2{
  margin-top: 0.5rem;
}
.mt-5{
  margin-top: 1.25rem;
}
.mt-8{
  margin-top: 2rem;
}
.h-19{
  height: 4.75rem;
}
.h-2{
  height: 0.5rem;
}
.h-28{
  height: 7rem;
}
.h-\[var\(--header-dropdown-placeholder-height\2c 0\)\]{
  height: 0;
  height: var(--header-dropdown-placeholder-height,0);
}
.h-auto{
  height: auto;
}
.h-full{
  height: 100%;
}
.w-16{
  width: 4rem;
}
.w-2{
  width: 0.5rem;
}
.w-24{
  width: 6rem;
}
.w-28{
  width: 7rem;
}
.w-32{
  width: 8rem;
}
.w-6{
  width: 1.5rem;
}
.w-full{
  width: 100%;
}
.flex-shrink-0{
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.shrink-0{
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.transform{
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-pointer{
  cursor: pointer;
}
.list-none{
  list-style-type: none;
}
.columns-1{
  -webkit-columns: 1;
     -moz-columns: 1;
          columns: 1;
}
.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.flex-col{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.items-center{
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.justify-center{
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.justify-between{
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gap-10{
  gap: 2.5rem;
}
.space-x-2 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * (1 - var(--tw-space-x-reverse)));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-2\.5 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(0.625rem * var(--tw-space-x-reverse));
  margin-left: calc(0.625rem * (1 - var(--tw-space-x-reverse)));
  margin-left: calc(0.625rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-y-2 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * (1 - var(--tw-space-y-reverse)));
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.space-y-3 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * (1 - var(--tw-space-y-reverse)));
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
.space-y-4 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * (1 - var(--tw-space-y-reverse)));
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}
.space-y-5 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * (1 - var(--tw-space-y-reverse)));
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}
.space-y-8 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * (1 - var(--tw-space-y-reverse)));
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}
.overflow-hidden{
  overflow: hidden;
}
.overflow-x-scroll{
  overflow-x: scroll;
}
.whitespace-nowrap{
  white-space: nowrap;
}
.rounded{
  border-radius: 0.25rem;
}
.rounded-full{
  border-radius: 9999px;
}
.border{
  border-width: 1px;
}
.border-0{
  border-width: 0px;
}
.border-b{
  border-bottom-width: 1px;
}
.border-t{
  border-top-width: 1px;
}
.border-solid{
  border-style: solid;
}
.bg-black{
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}
.bg-transparent{
  background-color: transparent;
}
.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.bg-opacity-50{
  --tw-bg-opacity: 0.5;
}
.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}
.p-3{
  padding: 0.75rem;
}
.p-3\.5{
  padding: 0.875rem;
}
.p-4{
  padding: 1rem;
}
.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-7{
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
.px-7\.5{
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}
.py-15{
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
.py-19{
  padding-top: 4.75rem;
  padding-bottom: 4.75rem;
}
.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-8{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.pb-10{
  padding-bottom: 2.5rem;
}
.pb-4{
  padding-bottom: 1rem;
}
.pl-8{
  padding-left: 2rem;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.font-heading{
  font-family: var(--font-heading);
}
.text-12{
  font-size: 0.75rem;
  line-height: 1.5;
}
.text-14{
  font-size: 0.875rem;
  line-height: 1.5;
}
.text-16{
  font-size: 1rem;
  line-height: 1.5;
}
.text-18{
  font-size: 1.125rem;
  line-height: 1.5;
}
.text-20{
  font-size: 1.25rem;
  line-height: 1.2;
}
.text-base{
  font-size: 16px;
  font-size: var(--font-body-size,16px);
  line-height: 1.5;
}
.font-bold{
  font-weight: 700;
}
.font-medium{
  font-weight: 500;
}
.font-normal{
  font-weight: 400;
}
.font-semibold{
  font-weight: 600;
}
.uppercase{
  text-transform: uppercase;
}
.capitalize{
  text-transform: capitalize;
}
.tracking-wider{
  letter-spacing: .05em;
}
.text-brand-accent{
  --tw-text-opacity: 1;
  color: rgba(171, 140, 82, var(--tw-text-opacity));
}
.underline{
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.\!opacity-100{
  opacity: 1 !important;
}
.opacity-0{
  opacity: 0;
}
.outline{
  outline-style: solid;
}
.filter{
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
          filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.transition{
  -webkit-transition-property: color, background-color, border-color, fill, stroke, opacity, -webkit-text-decoration-color, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, fill, stroke, opacity, -webkit-text-decoration-color, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
}
.transition-all{
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
}
.transition-colors{
  -webkit-transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
  transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
}
.transition-opacity{
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
}
.duration-300{
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.duration-500{
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}
.ease-in-out{
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.block {
    display: block;
  }
.inline-block {
    display: inline-block;
  }
.inline {
    display: inline;
  }
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
.table {
    display: table;
  }
.tw-grid {
    display: grid;
  }
.hidden {
    display: none;
  }
/* GLOBAL */
.site-container {
  max-width: 1440px;
  max-width: var(--site-max-width);
  margin-left: auto;
  margin-right: auto;
}
.theme__header {
  background-color: var(---color-header-bg);
}
.brick__section {
  max-width: 1440px;
  max-width: var(--site-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--outer);
  padding-right: var(--outer);
}
.Drawer{
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 4999;
    display: none;
}
.Drawer.isVisible {
    display: block;
  }
.Drawer details summary::-webkit-details-marker,
    .Drawer details summary::marker {
    display: none;
  }
.Drawer details summary{
  list-style-type: none;
}
.Drawer__Overlay{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.5;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.isActive .Drawer__Overlay{
  opacity: 1;
}
.Drawer__Inner{
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  max-width: 375px;
  --tw-translate-x: -100%;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  overflow-y: auto;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.isActive .Drawer__Inner{
  --tw-translate-x: 0px;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.Drawer__Header{
  position: relative;
  height: 4.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.Drawer__Close{
  position: absolute;
  right: 2rem;
  border-width: 0px;
  background-color: transparent;
  padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.MenuDrawer {
  z-index: 9999;
}
.MenuDrawer__Header{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.MenuDrawer__Main{
  padding-bottom: 2.5rem;
}
.MenuDrawer__Main .stagger > * {
        -webkit-animation-duration: 350ms;
                animation-duration: 350ms;
        -webkit-animation-delay: calc(var(--animation-order) * 10ms);
                animation-delay: calc(var(--animation-order) * 10ms);
        -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      }
.isActive .MenuDrawer__Main .stagger > * {
          -webkit-animation-name: animateIn;
                  animation-name: animateIn;
        }
.MenuDrawer ul{
  margin: 0px;
  list-style-type: none;
}
.MenuDrawer ul li{
  margin: 0px;
}
.MenuDrawer ul li .icon {
        width: 10px;
        height: 10px;
      }
.MenuDrawer details summary .icon {
        width: 12px;
        height: 12px;
      }
.MenuDrawer details summary .icon-minus {
    display: none;
  }
.MenuDrawer details[open] summary{
  font-weight: 700;
}
.MenuDrawer details[open] summary .icon-minus {
    display: inline-block;
  }
.MenuDrawer details[open] summary .icon-plus {
    display: none;
  }
.MenuDrawer__Child{
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  max-width: 375px;
  --tw-translate-x: -100%;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  overflow-y: auto;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.MenuDrawer__Child button .icon-chevron-left {
        width: 16px;
        height: 16px;
      }
.MenuDrawer__Child.isActive{
  --tw-translate-x: 0px;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.MenuDrawer__Child .btn--all{
  font-size: 0.6875rem;
  line-height: 1;
  letter-spacing: 0;
}
.MenuDrawer .social__links{
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.MenuDrawer .social__links .icon {
      width: 24px;
      height: 24px;
    }
@-webkit-keyframes animateIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  100% {
    opacity: 1;
  }
}
@keyframes animateIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  100% {
    opacity: 1;
  }
}
.HeaderNav ul{
  list-style-type: none;
}
.HeaderNav__Link > a:after {
        content: "";
        width: 0;
        height: 2px;
        position: absolute;
        bottom: 0px;
        --tw-bg-opacity: 1;
        background-color: rgba(171, 140, 82, var(--tw-bg-opacity));
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 300ms;
                transition-duration: 300ms;
        -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
      }
.HeaderNav__Link > a:hover:after{
  width: 100%;
}
.HeaderNav__Link.isOpen > a:after{
  width: 100%;
}
.HeaderNav__Dropdown{
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  pointer-events: none;
  max-height: 85vh;
  overflow-y: auto;
    display: none;
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-delay: 0ms;
            transition-delay: 0ms;
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
}
.HeaderNav__DropdownInner{
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.HeaderNav__DropdownItems{
  width: 100%;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-column-gap: 5rem;
  -webkit-column-gap: 5rem;
     -moz-column-gap: 5rem;
          column-gap: 5rem;
  grid-row-gap: 2.5rem;
  row-gap: 2.5rem;
    display: grid;
}
.HeaderNav__DropdownItems.four-columns{
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.HeaderNav__DropdownItems .btn--all{
  white-space: nowrap;
  line-height: 1;
  letter-spacing: 0;
}
.HeaderNav__DropdownFeatured{
  margin-left: 5rem;
  width: 100%;
  max-width: 400px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.isVisible > .HeaderNav__Dropdown{
  pointer-events: auto;
    display: block;
}
.isOpen > .HeaderNav__Dropdown{
  opacity: 1;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}
.page-header .standard__heading{
  margin: 0px;
}
@media (min-width: 768px){

  .page-header .standard__heading{
    font-size: 2.25rem;
    line-height: 1;
  }
}
.page-header .standard__rte {
      margin-top: 1rem;
    }
.page-header.has-image {
    position: relative;
    min-height: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
.has-image .page-header__wrapper {
      position: relative;
      z-index: 3;
      width: 100%;
    }
.product-features__diagram {
    padding: 56px 20px;
  }
.product-features__list{
  --tw-bg-opacity: 1;
  background-color: rgba(171, 140, 82, var(--tw-bg-opacity));
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
@media (min-width: 768px) {

  .product-features__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

    .product-features__diagram{
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

    .product-features__list{
    width: 60%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
      padding-top: 74px;
      padding-bottom: 74px;
  }
  }
@media (min-width: 1200px) {
    .product-features__diagram {
      padding-left: 86px;
      padding-right: 86px;
    }

    .product-features__list{
    padding-left: 8rem;
    padding-right: 8rem;
  }
  }
.product-information-slider__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
.product-information-slider__item{
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: center;
}
@media (min-width: 1200px){

  .product-information-slider__item{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: left;
  }
}
.product-information-slider__pagination{
  margin-top: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.product-information-slider__pagination.swiper-pagination-lock {
        display: none;
      }
.product-information-slider__pagination .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        position: relative;
        cursor: pointer;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        opacity: 0.6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
.product-information-slider__pagination .swiper-pagination-bullet::after {
          content: "";
          display: block;
          width: 9px;
          height: 9px;
          position: absolute;
          border-radius: 9999px;
          --tw-bg-opacity: 1;
          background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 200ms;
                  transition-duration: 200ms;
          -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
.product-information-slider__pagination .swiper-pagination-bullet-active {
        width: 46px;
        opacity: 1;
      }
.product-information-slider__pagination .swiper-pagination-bullet-active::after {
          width: 46px;
          height: 14px;
        }
.collection__nav-wrapper {
  background: var(---color-bg-secondary);
  border-top: 1px solid var(---color-border);
}
.collection__nav-wrapper .collection__nav {
    border: 0;
  }
.collection__nav,
.product-grid {
  padding-left: var(--outer);
  padding-right: var(--outer);
}
.collection__products {
  margin-top: var(--grid-gap);
  margin-bottom: var(--grid-gap);
}
.popout--group,
.popout--sort {
  margin-left: -15px;
  margin-right: -15px;
}
@media only screen and (min-width: 990px) {
  .popout--group,
  .popout--sort {
    margin-left: -18px;
    margin-right: -18px;
  }
}
.collection__nav .popout--filter .popout__toggle,
.collection__nav .popout--group .popout__toggle,
.popout--filter .popout__toggle,
.popout--group .popout__toggle,
.popout--sort .popout__toggle {
  border: 0;
}
.collection__products {
  --grid-gap: 20px;
}
.collection__products .product-grid {
    gap: var(--grid-gap);
  }
.collection__products .product-item {
    margin-top: 0;
  }
@media only screen and (max-width: 749px) {
    .collection__products .product-item.small--one-half {
      --spacing-width: calc((var(--grid-gap) * 1) / 2);
      width: calc(50% - var(--spacing-width));
    }
  }
@media only screen and (min-width: 750px) and (max-width: 989px) {
    .collection__products .product-item.medium--one-half {
      --spacing-width: calc((var(--grid-gap) * 1) / 2);
      width: calc(50% - var(--spacing-width));
    }
  }
@media only screen and (min-width: 990px) {
    .collection__products .product-item.large-up--one-half {
      --spacing-width: calc((var(--grid-gap) * 1) / 2);
      width: calc(50% - var(--spacing-width));
    }

    .collection__products .product-item.large-up--one-third {
      --spacing-width: calc((var(--grid-gap) * 2) / 3);
      width: calc(33.3333333333% - var(--spacing-width));
    }

    .collection__products .product-item.large-up--one-quarter {
      --spacing-width: calc((var(--grid-gap) * 3) / 4);
      width: calc(25% - var(--spacing-width));
    }

    .collection__products .product-item.large-up--one-fifth {
      --spacing-width: calc((var(--grid-gap) * 4) / 5);
      width: calc(20% - var(--spacing-width));
    }

    .collection__products .product-item.large-up--one-sixth {
      --spacing-width: calc((var(--grid-gap) * 5) / 6);
      width: calc(16.6666666667% - var(--spacing-width));
    }
  }
.product__breadcrumbs {
    padding-left: 0;
  }
.product__breadcrumbs a {
      font-size: calc(var(--font-3) * var(---font-adjust-body));
    }
.product__price__wrap {
      margin-top: 0.75em;
    }
.product__price__meta {
      display: inline-block;
    }
.product__price__vat {
      font-size: calc(var(--font-2) * var(---font-adjust-body));
      margin-top: 8px;
    }
.product__stock-indicator {
    margin-top: 30px;
    margin-bottom: 10px;
  }
@media (min-width: 768px){

  .sm\:h-44{
    height: 11rem;
  }

  .sm\:w-1\/2{
    width: 50%;
  }

  .sm\:w-32{
    width: 8rem;
  }

  .sm\:w-44{
    width: 11rem;
  }

  .sm\:max-w-\[14em\]{
    max-width: 14em;
  }

  .sm\:p-5{
    padding: 1.25rem;
  }

  .sm\:py-12{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .sm\:py-20{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .sm\:flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .sm\:hidden {
    display: none;
  }
}
@media (min-width: 940px){

  .md\:columns-2{
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
  }

  .md\:flex-row{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .md\:items-center{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .md\:justify-center{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .md\:space-x-7 > :not([hidden]) ~ :not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right: calc(1.75rem * var(--tw-space-x-reverse));
    margin-left: calc(1.75rem * (1 - var(--tw-space-x-reverse)));
    margin-left: calc(1.75rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .md\:space-x-7\.5 > :not([hidden]) ~ :not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right: calc(1.875rem * var(--tw-space-x-reverse));
    margin-left: calc(1.875rem * (1 - var(--tw-space-x-reverse)));
    margin-left: calc(1.875rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .md\:space-y-0 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * (1 - var(--tw-space-y-reverse)));
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }

  .md\:overflow-x-visible{
    overflow-x: visible;
  }

  .md\:whitespace-normal{
    white-space: normal;
  }

  .md\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .md\:px-20{
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .md\:py-28{
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .md\:flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1200px){

  .lg\:w-2\/5{
    width: 40%;
  }

  .lg\:w-3\/5{
    width: 60%;
  }

  .lg\:w-36{
    width: 9rem;
  }

  .lg\:columns-4{
    -webkit-columns: 4;
       -moz-columns: 4;
            columns: 4;
  }

  .lg\:px-15{
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }

  .lg\:px-28{
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .lg\:text-16{
    font-size: 1rem;
    line-height: 1.5;
  }
}
@media (min-width: 1440px){

  .xl\:columns-5{
    -webkit-columns: 5;
       -moz-columns: 5;
            columns: 5;
  }
}
@media (min-width: 1600px){

  .xxl\:-left-12{
    left: -3rem;
  }

  .xxl\:-right-12{
    right: -3rem;
  }

  .xxl\:w-52{
    width: 13rem;
  }

  .xxl\:w-\[35\%\]{
    width: 35%;
  }

  .xxl\:w-\[65\%\]{
    width: 65%;
  }

  .xxl\:px-32{
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .xxl\:px-38{
    padding-left: 9.5rem;
    padding-right: 9.5rem;
  }

  .xxl\:text-18{
    font-size: 1.125rem;
    line-height: 1.5;
  }
}
@media (max-width: 767px){

  .sm-down\:hidden {
    display: none;
  }
}
.\[\&_p\+p\]\:mt-5 p+p{
  margin-top: 1.25rem;
}
.\[\&_p\]\:m-0 p{
  margin: 0px;
}
.\[\&_strong\]\:font-semibold strong{
  font-weight: 600;
}

